.destination-ul-list {
    list-style-type: none;
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
    text-align: center;
    left: 40%;
	}

.destination-li{
	display: inline;
    margin: 5%;
}

.destination-li, img {
    height: 300px;
    margin: 30px;
}

img:hover {
    transform: scale(1.2);
    background-color: white;
    border-radius: 50%;
    padding: 10px;
} 