.destination-ul-list {
    list-style-type: none;
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
    text-align: center;
    left: 40%;
	}

.destination-li-icons{
	display: inline;
}

.destination-li-icons, img {
    height: 250px;
    margin: 50px;
}

.destination-li-icons, img:hover {
    background-color: white;
    border-radius: 50%;
    padding: 10px;

} 