
body {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .wrapper {
    padding: 20px;
}
 */
/* .header-wrapper {
  top: 0;
  width: 100%;
  background-color: white;
}

.footer-wrapper {

  width: 100%;
  background-color: white;

} */



/*------------------------- Header -----------------------*/
.header {
    display: flex;
    color: orange;
    font-family: 'Montserrat';
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
}

.headerIcon {
    display: flex;
    align-items: center;
    float: right;
    margin-left: 50%;

}

.appTitle {
    font-size: 50px;

}

#appDesc {
    margin-left: 20%;
}

.Calendar {
    position: absolute;
    left: 35%;
    width: 100vw;
    margin: 4%;
    border-radius: 10px;
    outline-width: 1;
    border-color: lightgrey;
}


/*------------------------- Landing -----------------------*/

.img-world {

    height: 600px;
    width: 950px;
    margin-left: 4%;
    z-index: 12;
  
}



.img-clouds {
    position: absolute;
    margin-left: 20%;
    z-index: -10;
    height: 400px;
    width: 650px;
    left: 9%;
}



/*------------------------- Form -----------------------*/
.Form-div {
    background-color: RGB( 74, 181, 244);
    padding: 8% 10% 10%;
    text-align: center;
}

.formHeader {
    color: white;

}

.searchBar {
    text-align: center;
    width: 40%;
    outline-width: 0;
    padding: 8px;
    border: none;
    border-radius: 999px;
    margin: 5%;
}

input {
    font-family: "Nunito";
    font-size: 14pt;
    border: none;

}


.formButton {
    width: 12%;
    color: rgb(7, 120, 250);
    border-radius: 10px;
    margin-top: 5%;
    background-color: white;
    text-transform: inherit;
}

.formButton:hover {
    transform: scale(1.08);
    border: none;
    text-decoration: none;
}


/*------------------------- Explore -----------------------*/

.card{
    margin: 20px;
    box-shadow: 0px 8px 12px 0px rgb(0,0,0, .6);
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
    text-decoration: none;
}

.card-body{
    background-color: yellow;
    

}

.card-img{
    height: 100%;
}


.card-title {
    text-align: center;
    padding: 3%;
    text-decoration: none;
}

.img-price {
    text-align: left;
}


.img-btn {
    text-align: right;
}
 
/*------------------------- Games -----------------------*/

.Games {
    margin: 8%;
}

.Games-ul-list {
	min-width: 100vh;
	list-style: none;
    display: flex;
    text-align: center;

	}


.Games-li-icons, img {
    transition: transform .2s; 
    height: 250px;
    margin-left: 20%;
    padding: 10%;
}


.Games-li-icons:hover {
    transform: scale(1.2); 
} 


/*------------------------- Camping -----------------------*/
.camping-page > .camping-bg {
    background: url('./assets/images/camping/themecamping.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    min-height: 100vh;
}



/*------------------------- Snowboarding -----------------------*/
.snow-page > .snow-bg {
    background: url('./assets/images/snowboarding/themesnow2.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    min-height: 100vh;

}

.snow-div{
    background-color: rgb(255,255,255, .9);
    width: 70%;
    margin:  15%;
    max-height: 100vh;
    position: absolute;

    top: 0;
}


ul, .snowPuzzles {
    list-style: none; 
    z-index: 1;

}

.snow-thumb {
    margin-left: 8%;
}

.snow-img {
    height: 100%;
    width: 100%;
}

/*------------------------- Credits -----------------------*/

.credits {
    text-align: center;
    margin: 5% 5% 15%;
}

/*------------------------- Footer -----------------------*/

.Footer {
    text-align: center;
    margin: 5%;
    padding: 2%;
    border-top: 1px solid lightgray;
}


/*------------------------- alertSuccess -----------------------*/

.cart-success-wrapper {
    display: flex;
    flex-wrap: wrap;

}

.cart-success-wrapper h2 {
    width: 100%;

}

.item {
    margin-right: 20px;
}

.alert-wrapper.success {
    border: #6DA06F solid 1px;
    background-color: green;
    width: 20%;
}

.success h2 {
    color: lightgreen;
    
}

.success p {
    color: lightgreen;
}



/*------------------------- alertrror -----------------------*/
.alert-wrapper {
    padding: 15px;
    margin-bottom: 15px;
}

.alert-wrapper h2 {
    margin: 0 0 10px 0;
}

.alert-wrapper.error {
    border: #F56260 solid 1px;
    width: 20%;
}

.error h2 {
    color: darkred;
}

.error p {
    color: darkred;
}

.alert-wrapper.error {
    background-color: #F56260;
}


