.img-world {
    background-size: cover;
    justify-content: center;
    height: 600px;
    width: 900px;
    margin-top: 5%;
    margin-left: 5%;

}

.img-world:hover {
    transform: scale(1.16);
    background-color: transparent;
}